* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-Serif;
    /*background:gold;*/
}
body {
    background-image: url('bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.login {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2.5px);
    border: .5px solid #FFFFFF;
    padding: 5vh;
    /*border-radius: 5px;*/
}
.login > h1 {
    color: transparent;
    display: flex;
    font-weight: 999;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke-color:#fff;
    -webkit-text-stroke-width:1px;
    letter-spacing: 2.5px;
    font-family: Georgia;
    font-size: 50px;
}
.login > form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
    position: relative;
}
.login > form > input {
    height: 30px;
    width: 200px;
    margin: 5px;
    text-indent: 20px;
    border: none;
    outline: none;
    background: rgb(255,255,255,0.1);
    border-bottom: 1px solid #80FF00;
}
.login > form > input::placeholder {
    color: #fff;
    letter-spacing: .5px;
}
.login > form > button {
    margin: 5px;
    height: 30px;
    width: 200px;
    border: none;
    background-color: #FF9C00;
    text-transform: uppercase;
    color: #fff;
    font-weight: 999;
}
.login > form > span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-right: 60px;
    padding: 5px;
    
}
form > span > input[type="checkbox"] {
    width: 20px;
    height: 12px;
}
form > span > p {
    color: #fff;
    font-size: 12px;
}
form > a {
    font-size: 15px;
    margin: 10px;
}